section,
form,
.apply_wrapper,
.apply_title,
.apply_container,
.img-box,
.form_box,
.cancel_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section,
.apply_wrapper,
.apply_title,
.apply_container,
.img-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cancel_box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section,
form,
.apply_wrapper,
.apply_container,
.img-box,
.form_box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 100%;
  padding-top: 50px;
}

.apply_h2 {
  padding: 20px 0 20px 0;
  font-size: 25px;
}

.apply_img {
  width: 250px;
  height: 250px;
  margin: 10px 0 10px 0;
  border-radius: 50%;
}

.apply_wrapper {
  width: 90%;
}

.apply_title,
.apply_container,
.img-box,
.form_box {
  width: 100%;
}

form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 20px 0;
}

.input1 {
  display: none;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea,
input[type="file"] {
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
  margin: 5px auto 15px auto;
  padding: 12px 0 12px 8px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

input[type="file"] {
  margin-bottom: 20px;
}

.button_apply {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button_apply,
.button_cancel {
  padding: 15px 0 15px 0;
  border: none;
  border-radius: 50px;
}

.button_apply:hover,
.button_cancel:hover {
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  section .cancel_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .button_cancel {
    margin-right: auto;
    margin-left: auto;
  }
  section .button_cancel {
    width: 70%;
  }
}

@media screen and (min-width: 500px) {
  section {
    height: 1350px;
  }
  section .apply_h2 {
    font-size: 45px;
  }
  section .apply_img {
    width: 300px;
    height: 300px;
  }
  section .button_cancel {
    width: 100px;
  }
}

@media screen and (min-width: 700px) {
  section {
    height: 1400px;
    padding-top: 100px;
  }
  section .apply_h2 {
    font-size: 50px;
  }
  section .apply_img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 900px) {
  section {
    padding-top: 150px;
  }
  section .apply_wrapper {
    max-width: 750px;
  }
  section .apply_img {
    width: 450px;
    height: 400px;
  }
}
/*# sourceMappingURL=apply.css.map */