main,
article,
aside,
.home_main-wrapper,
.home_section-wrap,
.home_head-box,
.home_head-imgbox,
.home_articles,
.home_article-title,
.home_article-wrap,
.home_btn-wrap,
.aside-wrapper,
.home_aside-title,
.home_aside-wrap,
.home_aside-ul,
.home_aside-li,
.home_aside-box,
.home_video-contain,
.home_video-box,
.home_section,
.home_logo-box,
.home_listlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main,
article,
aside,
.home_main-wrapper,
.home_section_wrap,
.home_head-box,
.home_head-imgbox,
.home_articles,
.home_article-title,
.home_article-wrap,
.home_btn-wrap,
.aside-wrapper,
.home_aside-title,
.home_aside-wrap,
.home_aside-ul,
.home_aside-box,
.home_video-contain,
.home_video-box,
.home_section,
.home_logo-box,
.home_listlogo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main,
article,
aside,
.home_main-wrapper,
.home_section-wrap,
.home_head-box,
.home_articles,
.home_article-wrap,
.home_btn-wrap,
.aside-wrapper,
.home_aside-ul,
.home_aside-box,
.home_video-contain,
.home_section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px 0 50px 0;
}

.home_main-wrapper {
  width: 100%;
}

/* ----- SECTION INTRODUCTION----- */
.home_section-wrap {
  width: 90%;
  padding-top: 50px;
}

.home_section-wrap .home_head-h2,
.home_section-wrap .home_head-h3 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.home_section-wrap .home_head-imgbox {
  margin: 25px 0 50px 0;
}

.home_section-wrap .home_img1 {
  width: 200px;
  height: 200px;
}

.home_section-wrap article {
  width: 100%;
}

.home_section-wrap .home_articles {
  width: 100%;
}

.home_section-wrap .articles_bis {
  padding-bottom: 40px;
}

.home_section-wrap .home_article-title {
  padding: 20px 0 20px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
}

.home_section-wrap .article_titlebis {
  padding-top: 30px;
}

.home_section-wrap .home_article-wrap {
  width: 90%;
  padding-bottom: 20px;
}

.home_section-wrap .home_article-p {
  padding: 15px;
}

.home_section-wrap .home-p1,
.home_section-wrap .home-p3 {
  margin-bottom: 15px;
}

.home_section-wrap .home_article-h,
.home_section-wrap .home_article-p {
  padding-bottom: 20px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.home_section-wrap .home_article-p {
  line-height: 20px;
}

.home_section-wrap .home_article-p:hover {
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.home_section-wrap .home_article-img {
  margin-left: 10px;
  padding-bottom: 20px;
  width: 50px;
  height: 50px;
}

.home_section-wrap .home_btn-wrap {
  width: 100%;
  height: 300px;
}

.home_section-wrap .home-btnbox,
.home_section-wrap .home-btn {
  padding: 15px;
  border-radius: 15%;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.home_section-wrap .home-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* ----- end SECTION INTRODUCTION----- */
/* ----- ASIDE ----- */
aside {
  height: 650px;
  width: 90%;
  margin: 0 20px 0 20px;
}

aside .img_box-lesson {
  display: none;
}

aside .img_box-lesson img {
  width: 200px;
  height: 350px;
}

aside .home_aside-title {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 15px;
}

aside .home_aside-h2 {
  width: 80%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 0 10px 0;
}

aside .home_aside-wrap {
  width: 100%;
  height: 100%;
}

aside .home_aside-ul {
  height: 90%;
}

aside .home_aside-li {
  height: 150px;
  margin: 7px 0 7px 0;
  -webkit-box-shadow: 1px 1px 6px #0e0101;
          box-shadow: 1px 1px 6px #0e0101;
}

aside .home_aside-li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

aside .home_aside-box {
  height: 149px;
  width: 80px;
  margin-left: 20px;
}

aside .home_li-indicator {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

aside .home_li-img {
  width: 100%;
  height: 100px;
}

aside .home_li-text {
  width: 80%;
  margin: 10px 10px 10px 10px;
}

aside .home_li-h2 {
  margin: 3px 0 5px 10px;
}

aside .home_li-p {
  height: 110px;
  margin: 0 10px 0 10px;
  overflow: auto;
}

/* ----- end ASIDE ----- */
/* ----- VIDEO ----- */
.home_video-contain {
  width: 90%;
  padding-top: 550px;
  margin: 50px 0 25px 0;
  padding: 25px 0 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_video-contain .home_video-box {
  position: relative;
  padding-top: 50%;
  width: 90%;
  overflow: hidden;
  margin: 25px 0 25px 0;
}

.home_video-contain .home_video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.home_video-contain .line {
  border-bottom: 1px solid;
}

/* ----- end VIDEO ----- */
/* ----- PARTNER ----- */
.home_section {
  width: 90%;
  margin: 50px 0 0px 0;
  padding: 100px 0 10px 0;
  text-align: center;
  border-top: 2px solid;
}

.home_section .home_partner-title {
  margin-bottom: 50px;
}

.home_section .home_logo-box {
  width: 100%;
  margin: 20px 0 20px 0;
}

.home_section .home_partnerlogo {
  width: 50px;
  height: 50px;
  margin: 0 12px 0 12px;
}

/* ----- end PARTNER ----- */
/*# sourceMappingURL=home.css.map */