section,
form,
.login_wrapper,
.login_title-box,
.login_container,
.login_img-box,
.form_box,
.cancel_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section,
.login_wrapper,
.login_title-box,
.login_container,
.login_img-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form,
.login_wrapper,
.login_container,
.form_box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 100%;
  height: 1000px;
  padding-top: 50px;
}

section .login_wrapper {
  width: 90%;
}

section .login_title-box,
section .login_container,
section .login_img-box {
  width: 100%;
}

section .login_img-box img {
  width: 150px;
  height: 150px;
}

section .login_h2 {
  padding: 30px 0 30px 0;
  font-size: 25px;
}

section .form_box {
  position: relative;
  width: 100%;
}

section form,
section .button_login,
section .button_cancel,
section .cancel_box {
  margin-left: auto;
  margin-right: auto;
}

section form {
  width: 90%;
}

section label {
  padding-top: 20px;
}

section input[type="text"],
section input[type="email"],
section input[type="password"] {
  width: 100%;
  margin-top: 5px;
  margin: 5px auto 0 auto;
  padding: 12px 0 12px 8px;
  border: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

section .button_login,
section .button_cancel {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 15px 0 15px 0;
  border: none;
  border-radius: 50px;
}

section .button_login:hover,
section .button_cancel:hover {
  opacity: 0.5;
}

section .button_login {
  width: 70%;
}

section .checkbox {
  margin-bottom: 10px;
}

section .cancel_box {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .span_password:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  section .cancel_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .button_cancel {
    margin-left: auto;
    width: 70%;
  }
  section .span_password {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 500px) {
  section .login_h2 {
    font-size: 45px;
  }
  section .button_cancel {
    width: 100px;
    margin-left: 30px;
  }
  section .span_password {
    float: right;
    width: 170px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 700px) {
  section .login_h2 {
    font-size: 50px;
  }
  section .login_img-box img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 900px) {
  section {
    padding-top: 100px;
  }
  section .login_wrapper {
    max-width: 750px;
  }
}
/*# sourceMappingURL=login.css.map */