/* ------------HEADER DARKMODE-------- */

.hd-switchwrap {
  position: absolute;
  right: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 5;
}

/* Slider Box */
.hd-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  border-radius: 15%;
}

/* Hide Checkbox */
.hd-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.hd-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15%;
  background-color: #0e0101;
  cursor: pointer;
  transition: 0.4s;
}

.hd-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto 0;
  border-radius: 50%;
  background: #0e0101 url("../storage/icons/ampoule-bleu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .hd-slider {
  background-color: #edf6f9;
}

input:checked + .hd-slider:before {
  transform: translate(13px);
  box-shadow: 0 0 3px #edf6f9;
  background: #edf6f9 url("../storage/icons/ampoule.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* --------- end HEADER DARKMODE------ */
