<div class="hd-switchwrap">
    <label id="switch" class="hd-switch">
        {# <input onchange="darkmode()" id="slider" type="checkbox"> #}
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="hd-slider hd-round"></span>
    </label>
</div>